/* Общие стили */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Шапка */
header {
    background: linear-gradient(to right, #ae86ff, #7412c5);
    padding: 10px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    white-space: nowrap;
}

.logo {
    display: flex;
    align-items: center;
    color: #fff;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

.logo-text {
    font-size: 18px;
    font-weight: bold;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin-left: 20px;
    margin-right: 20px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
}

.login-buttons {
    display: flex;
    align-items: center;
}

.login-buttons a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}

.login-btn {
    background-color: #4CAF50;
    padding: 10px 20px;
    border-radius: 20px;
}

.signup-btn {
    background-color: #2196F3;
    padding: 10px 20px;
    border-radius: 20px;
}

/* Остальные стили остаются без изменений */

/* Секция "О нас" */
.about {
    display: flex;
    align-items: center;
    padding: 50px;
}

.about .info {
    flex: 1;
}

.about .info h1 {
    font-size: 65px;
}

.about .info p {
    font-size: 18px;
}


.about .image {
    flex: 1;
    text-align: right;
}

.about .image img {
    max-width: 100%;
    height: auto;
}

/* Кнопка "Начать занятие" */
.start-lesson {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.video-label,
.song-label,
.grammar-label {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    font-size: 40px;
}

/* Секция с видео и аудио */
.video {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    margin-bottom: 20px;
    margin-top: 10px;
}

/* Дополнительные стили для центрирования элементов */
.audio {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
}

.lyrics {
    text-align: left;
    margin-top: 20px;
    font-size: 18px;
}

/* Секция "Мини-игра" */
.mini-game {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

/* Секция "Правила грамматики" */
.grammar {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    margin-top: 10px;
}

.grammar .rule {
    margin: 0 20px;
}

.grammar .rule img {
    max-width: 80%;
    height: auto;

}

/* Подвал */
footer {
    background: linear-gradient(to right, #ae86ff, #7412c5);
    color: #fff;
    padding: 20px 0;
    margin-top: 160px;
}

.copyright-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.copyright-container a {
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
}

.copyright-container a:hover {
    color: #ccc;
}

.copyright {
    margin-left: auto;
}

.btn {
    margin-top: auto;
    cursor: pointer;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-primary {
    background-color: #4B0082;
    color: white;
}

.btn-primary:hover {
    background-color: #6A0DAD;
}

.btn-secondary {
    background-color: #007bff;
    color: white;
}

.btn-secondary:hover {
    background-color: #0056b3;
}

.start-lesson,
.lesson-content,
.song-section,
.mini-game,
.grammar {
    padding: 40px 0;
}

.hero {
    background-color: #f5f5f5;
    padding: 10px 20px;
    text-align: center;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 24px;
    margin-bottom: 40px;
}

/* Тесты */
.tests-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.tips {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.tips .tip {
    flex-basis: 300px;
    flex-grow: 1;
}

.tip {
    text-align: center;
}

.tip img {
    width: 590px;
    height: 590px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

.tip h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.tip p {
    font-size: 16px;
    margin-bottom: 20px;
}