/* Общие стили */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Шапка */
header {
    background: linear-gradient(to right, #ae86ff, #7412c5);
    padding: 10px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    white-space: nowrap;
}

.logo {
    display: flex;
    align-items: center;
    color: #fff;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

.logo-text {
    font-size: 18px;
    font-weight: bold;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin-left: 20px;
    margin-right: 20px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
}

.login-buttons {
    display: flex;
    align-items: center;
}

.login-buttons a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}

.login-btn {
    background-color: #4CAF50;
    padding: 10px 20px;
    border-radius: 20px;
}

.signup-btn {
    background-color: #2196F3;
    padding: 10px 20px;
    border-radius: 20px;
}

/* Стили для мобильных устройств */
@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        padding: 10px;
    }

    .logo {
        margin-bottom: 10px;
    }

    .logo img {
        height: 30px;
    }

    .logo-text {
        font-size: 16px;
    }

    .nav-container {
        margin: 10px 0;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
    }

    .nav-links li {
        margin: 5px 0;
    }

    .nav-links li a {
        font-size: 14px;
    }

    .login-buttons {
        flex-direction: column;
    }

    .login-buttons a {
        margin: 5px 0;
        font-size: 12px;
    }

    .login-btn,
    .signup-btn {
        margin: 5px 0;
        padding: 8px 16px;
        font-size: 12px;
    }
}


/* Остальные стили остаются без изменений */

/* Секция "О нас" */
/* Стили для больших экранов */
.about {
    display: flex;
    align-items: center;
    padding: 50px;
}

.about .info {
    flex: 1;
}

.about .info h1 {
    font-size: 65px;
}

.about .info p {
    font-size: 18px;
}

.about .image {
    flex: 1;
    text-align: right;
}

.about .image img {
    max-width: 100%;
    height: auto;
}

/* Стили для мобильных устройств */
@media (max-width: 768px) {
    .about {
        flex-direction: column;
        padding: 30px;
    }

    .about .info {
        order: 2;
    }

    .about .info h1 {
        font-size: 40px;
    }

    .about .info p {
        font-size: 16px;
    }

    .about .image {
        order: 1;
        text-align: center;
        margin-bottom: 20px;
    }

    .about .image img {
        max-width: 80%;
    }
}

/* Кнопка "Начать занятие" */
.start-lesson {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.video video{
    max-width: 100%;
    height: auto;
}

.video-label,
.song-label,
.grammar-label {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    font-size: 40px;
}

/* Секция с видео и аудио */

.video {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    margin-bottom: 20px;
    margin-top: 10px;
    max-width: 100%;
    height: auto;
}

/* Дополнительные стили для центрирования элементов */
.audio {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
}

.lyrics {
    text-align: left;
    margin-top: 20px;
    font-size: 18px;
}

/* Секция "Мини-игра" */
.mini-game {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.mini-game-container {
    text-align: center;
    margin-top: 20px;
}

.word-pairs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.word-pair {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.english-word {
    font-weight: bold;
    margin-right: 10px;
}

.russian-word-options {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.russian-word-option {
    margin: 0 10px;
    cursor: pointer;
}

.result {
    margin-top: 20px;
    font-weight: bold;
}

/* Секция "Правила грамматики" */
.grammar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.rule-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.rule {
    max-width: 400px;
    width: 100%;
}

.rule img {
    width: 100%;
    height: auto;
    display: block;
}

.rule-text {
    margin-top: 10px;
    text-align: center;
}

/* Подвал */
footer {
    background: linear-gradient(to right, #ae86ff, #7412c5);
    color: #fff;
    padding: 20px 0;
    margin-top: 160px;
}

.copyright-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.copyright-container a {
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
}

.copyright-container a:hover {
    color: #ccc;
}

.copyright {
    margin-left: auto;
}

.btn {
    margin-top: auto;
    cursor: pointer;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-primary {
    background-color: #4B0082;
    color: white;
}

.btn-primary:hover {
    background-color: #6A0DAD;
}

.btn-secondary {
    background-color: #007bff;
    color: white;
}

.btn-secondary:hover {
    background-color: #0056b3;
}

.start-lesson,
.lesson-content,
.song-section,
.mini-game,
.grammar {
    padding: 40px 0;
}

.pronunciation-practice {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.practice {
    width: 30%;
    margin-bottom: 40px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.practice img {
    width: 826px;
    height: 826px;
    object-fit: cover;
}

.practice:nth-child(1) img,
.practice:nth-child(3) img {
    height: 826px;
}

.chat-support {
    position: fixed;
    bottom: 125px;
    right: 20px;
    z-index: 999;
}

.chat-window {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    display: none;
}

.chat-messages {
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
}

.chat-message {
    background-color: #f1f1f1;
    padding: 8px 12px;
    border-radius: 20px;
    margin-bottom: 8px;
}


.chat-input {
    display: flex;
    align-items: center;
    border-top: 1px solid #f1f1f1;
    padding: 10px;
}

.chat-input-field {
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: #f1f1f1;
}

.chat-send-btn {
    background-color: #4B0082;
    color: #fff;
    border: none;
    outline: none;
    padding: 5px 15px;
    border-radius: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.chat-toggle-btn {
    background-color: #4B0082;
    color: #fff;
    border: none;
    outline: none;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.auto-response {
    background-color: #e6e6e6;
    color: #666;
    font-style: italic;
}

.voice-control {
    position: fixed;
    bottom: 125px;
    left: 20px;
    /* Изменено на left: 20px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Изменено на align-items: flex-start; */
    z-index: 999;
}

.voice-control .btn {
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 20px;
    background-color: #4B0082;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.voice-control .voice-control-status {
    margin-top: 10px;
    /* Добавлено margin-top: 10px; */
    padding: 6px 12px;
    font-size: 12px;
    background-color: #28a745;
    color: #fff;
    border-radius: 4px;
}