/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
}

header {
    background: linear-gradient(to right, #ae86ff, #7412c5);
    padding: 10px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
}

.logo {
    display: flex;
    align-items: center;
    color: #fff;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

.logo-text {
    font-size: 18px;
    font-weight: bold;
}

.nav-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    padding-bottom: 80px;
    /* Добавьте это, чтобы контент не накладывался на футер */
}

.copyright-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: linear-gradient(to right, #ae86ff, #7412c5);
    color: #fff;
    font-size: 18px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.copyright-container a {
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
}

.copyright-container a:hover {
    color: #ccc;
}

/* Стили для страницы входа */
.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    /* Добавлено */
}

.login-container h1 {
    text-align: center;
}

#login-form label {
    display: block;
    margin-bottom: 10px;
}

#login-form input {
    width: 100%;
    box-sizing: border-box;
    /* Добавлено */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#login-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.social-login {
    text-align: center;
    margin-top: 20px;
}

.social-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3b5998;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    margin: 0 5px;
}

.social-btn[data-provider="google"] {
    background-color: #DD4B39;
}

.social-btn[data-provider="telegram"] {
    background-color: #0088cc;
}

/* Стили для страницы регистрации */
.register-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.register-container h1 {
    text-align: center;
}

#register-form label {
    display: block;
    margin-bottom: 10px;
}

#register-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#register-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.social-register {
    text-align: center;
    margin-top: 20px;
}